body {
    padding: 0;
    margin: 0;
}


.container {
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 10px;
    background-color: #bbb;
    
}
.container > div {
    display: grid;
    place-items: center;
    font-size: 30px;
    color: maroon;
    border: 2px solid black;
}

#g1 {
    background-color: red;
}
#g4 {
    background-color: green;
}

#g11 {
    background-color: yellow;
}

#g2,#g3,#g5,#g6,#g7,#g8 ,#g9,#g10,#g12,#g13,#g14,#g15,#g16{
    background-color: lightblue;
}



/* .buttons {
    margin: auto;
    text-align: center;
}

#up , #left , #right , #down {
    width: 5vw;
    height: 2vw;
    color: maroon;
    font-weight: bold;
    background-color: #bbb;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}
#up:hover , #left:hover , #right:hover , #down:hover {
    cursor: pointer;
    background-color: blue;
} */